body {
  background-color: $background_color;
  color: $white;
  font-family: Open Sans;
}

.headline {
  font-size: 30px;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-bottom: 30px;
  border-bottom: 1px solid $white;
  display: inline-block;
}


@media (max-width: 576px) {
  .headline {
    font-size: 20px;
    padding-bottom: 10px;
  }
}