dialog {
  background-color: $background_color;
  padding: 0;

  .modal_close {
    cursor: pointer;
    padding: 10px;
    color: $white;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    font-size: 18px;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@media (max-width: 576px) {
  dialog {
    width: 60vw;

    .modal_content {
      img {
        width: 100%;
      }
    }
  }
}