.section {
  padding: 120px 147px;
}

.section_one {
  .left {
    img {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .body {
    .content {
      font-size: 21px;
      font-weight: 300;
      line-height: 30px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin: 30px 0;
      word-wrap: break-word;
    }

    .callout {
      h3 {
        color: $callout_header;
        font-size: 15px;
        font-weight: 700;
        line-height: 21px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

      }

      p {
        font-size: 21px;
        font-weight: 700;
        line-height: 30px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
    }
  }
}

.section_two {
  .card_list {
    margin-top: 30px;
  }

  .card_item {
    a {
      color: $white;
      text-decoration: none;
    }

    &:hover {
      cursor: pointer;
    }

    .card_content {
      margin-top: 30px;
      padding: 0 30px;

      .card_title {
        h3 {
          font-size: 21px;
          font-weight: 700;
          line-height: 30px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
      }

      .card_description {
        p {
          font-size: 21px;
          font-weight: 300;
          line-height: 30px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .section {
    padding: 50px 0;
  }
}

@media (max-width: 960px) {
  .section_one {
    .right {
      margin-top: 30px;
    }
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section {
    width: 90vw;
  }

  .section_one {
    padding: 30px 20px;
    .body {
      .content {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        margin: 15px 0
      }

      .callout {
        h3 {
          font-size: 12px;
          font-weight: 700;
          line-height: 18px;
        }

        p {
          font-size: 14px;
          font-weight: 700;
          line-height: 20px;
        }
      }
    }

    .left {
      .image_container {
        flex-direction: column;
        align-items: center;

        .image_left {
          width: 100%;
          text-align: center;

          img {
            width: 100%;
          }
        }

        .image_right {
          div {
            flex-direction: row !important;

            div {
              width: 50%;
            }
          }
        }
      }
    }
  }

  .section_two {
    text-align: center;

    .card_item {
      .card_content {
        margin-top: 20px;

        .card_title {
          h3 {
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
          }
        }

        .card_description {
          p {
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
          }
        }
      }
    }
  }

  dialog {
    width: 60vw;

    .modal_content {
      img {
        width: 100%;
      }
    }
  }
}