.section {
  padding: 120px 147px;
}

.section_one {
  .left {
    img {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .body {
    .content {
      font-size: 21px;
      font-weight: 300;
      line-height: 30px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin: 30px 0;
    }

    .callout {
      h3 {
        color: $callout_header;
        font-size: 15px;
        font-weight: 700;
        line-height: 21px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

      }

      p {
        font-size: 21px;
        font-weight: 700;
        line-height: 30px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
    }
  }
}

.section_two {
  .card_list {
    margin-top: 30px;
  }

  .card_item {
    a {
      color: $white;
      text-decoration: none;
    }

    &:hover {
      cursor: pointer;
    }

    .card_content {
      margin-top: 30px;
      padding: 0 30px;

      .card_title {
        h3 {
          font-size: 21px;
          font-weight: 700;
          line-height: 30px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
      }

      .card_description {
        p {
          font-size: 21px;
          font-weight: 300;
          line-height: 30px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
      }
    }
  }
}